.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  background-color: rgb(10, 182, 255);
  margin: 15px 0px 0px ;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  border-color: black;
  transition: all 150ms linear 0s;
}

.button:hover {
  opacity: 0.9;
}

.form {
  width:100%;
  background: rgb(10, 182, 255);
  padding: 5rem 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.form form {
  width: 90%;
  max-width: 980px;

  background: white;
  
  padding: 40px;
  
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15), 
    0px 10px 20px -10px rgba(0, 0, 0, 0.1)
}

.form h3 {
  margin: 2rem 0 2rem 0;
  padding: 0 1rem 0 2rem;
}

.formgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.InputMask{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formgroup .inputcontrol {
  flex: 1 1;
  display: flex;
  margin: 1rem;
  padding: 2vh;
  width: 40rem;
  font-size: 1.6rem;
  align-items: center;
}

.formgroup .inputcm {
  flex: 1 1;
  display: flex;
  margin: 1rem;
  padding: 2vh;
  width: 82rem;
  font-size: 1.6rem;
}

.formgroup p{
  flex: 1 1;
  display: flex;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
}


.form .button {
  margin: 20px 8px 10px;
}

.selectgroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectbox{
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  background-color: rgb(10, 182, 255);
  margin: 15px ;
  padding: 0.5rem;
  border-radius: 5px;
}
.select{
  color: black;
  background-color: rgb(10, 182, 255);
}

.footer {
  display: flex;
  flex: 1;
  padding: 10px 0;
  border-top: 1px solid #00000079;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

@media (max-width: 630px) {

  .hero .container {
      flex-direction: column;
      text-align: center;
  }

  .hero .container img {
      order: -1;
  }

  .form-group {
      display: block;
  }
}